footer {
    background-color: $bg-navfoot;
    position: absolute;
    bottom: nth($size, 3);
    width: 100%;
    padding: 1em 0;
    text-align: center;
    padding-block: nth($size, 2)*2;

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: nth($size, 2)*4;

        li {
            a {
                color: $negro;

                &:hover {
                    padding: nth($size, 2)*2;
                    background-color: $navfoot-hov;
                    color: $negro;
                    border-radius: 20%;
                    transition: all 2s;
                }
            }
        }
    }
}