header {
  .navbarra {
    background-color: $bg-navfoot;
    margin-bottom: nth($size, 2)*3;

    a {
      color: black;
      text-decoration: none;

      &:hover {
        background-color: $navfoot-hov;
        transition: all 1s;
      }
    }

  }
}

.sub {
  background-color: $bg-navfoot;
  display: none;

  a {
    padding: nth($size, 2);
  }
}

.active {
  text-transform: uppercase;
}