$bg-navfoot: rgb(245, 210, 216);
$bg-navhov: rgb(243, 161, 174);
$bor-corcho: rgb(172, 122, 86);
$bg-cartelito: rgb(250, 215, 234);
$bg-notita: rgb(245, 245, 85);
$bg-ocupado: rgba(255, 3, 3, 0.603);
$bg-disponible: rgba(7, 131, 7, 0.603);
$bor-card: black;
$card-hov: rgb(255, 211, 219);
$bg-pcard: antiquewhite;
$bg-papelito: rgb(255, 255, 255);
$foot-hov: rgb(230, 116, 135);

